<div class="container">
  <h1>Delete Book</h1>

  <form [formGroup]="bookForm">
    <div class="form-group">
      <label>title</label>
      <input type="text" class="form-control" formControlName="title" readonly >
    </div>
    <div class="form-group">
      <label>author</label>
      <input type="text" class="form-control" formControlName="author" readonly >
    </div>
    <div class="form-group">
      <label>description</label>

      <input type="text" class="form-control" formControlName="description" readonly >
    </div>

    <button type="submit" (click)="delete()" class="btn btn-primary">xóa</button>
  </form>
</div>

